{% load static %}

<div class="row g-4 mb-4">
    <div class="col-sm-6">
        {% for a in Statistika %}
        <div class="d-flex align-items-center border-start border-5 border-primary px-3">
            
            <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">
                <span>{{ a.soni }}</span>
            </h1>
            <div class="ps-4">
                <p class="mb-0">{{ a.nomi }}</p>
            </div>
           
        </div>
        {% endfor %}
    </div>
</div>